* {
    box-sizing:border-box;
}


body {
    background-image: url("./gato.jpg");
}

.paraiso {
    background-color: white;
    height:500px;
    width:800px;
    margin: 0 auto;
    text-align:justify;
    text-align:center;
}


li {
    background-color:chartreuse;
    height: 60px;
    width: 140px;
}

.home {
    display: inline-block;
    margin: 0 120px;
    position:relative;
    top: 20px;
    font-size:40px;
    text-align:center;

   

}

.home :hover, .fotinhas :hover, .extra:hover {
    background-color:red;
}

.home, .fotinhas, .extra {
    color:black;
}

.fotinhas{
    display:inline-block;
    margin: 0 320px;
    font-size: 40px;
    position: relative;
    bottom: 40px;

}


.oi {
    background-color:blueviolet;
    width:800px;
    margin: 0 auto;
    position:relative;
    right:20px;
    height:100px;

}

.extra {
    display:inline-block;
    margin: 0 520px;
    position:relative;
    bottom: 100px;
    font-size:40px;
    text-align:center;

}

.nobull {
    list-style-type:none;
}

h1 {
    position:relative;
    top:40px;
}
