* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.div{
    height: 12vmin;
    width: 16vmax;
    background-color:greenyellow;
    margin: 42vmin 43vmax;
    border-radius:1vmin;
    overflow: hidden;
    position:absolute;
    text-align:center;
}

.span{
    display:inline-block;
    width:75%;
    position: absolute;
    float:left;
    font-size: 1.5em;
    left:0;
    margin: 11% 0;
    transition: all 400ms linear;
}

.seta{
    display: inline-block;
    width:25%;
    float:right;
    background-color:red;
    height:100%;
    position: absolute;
    right:0;
    font-size: 2em;
    padding: 7% 0;
    transition: all 400ms linear;
}

.div:hover .span {
  left: -75%
}

.div:hover .seta {
    width:100%;
}

img {
    width: 3vmax;
    height: 7vmin;
}
