*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.body {
    height: 100vh;
    display:grid;
    grid-template-rows: 20vmin 1fr;
}

.header{
    height: 20vmin;
    width:100vw;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main{ 
    display: grid;
    align-self:stretch;
    width:100vw;
    background-color: bisque;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    justify-items: center;
}

.text {
    background-color:  white;
    align-self:stretch;
    justify-self: stretch;
    text-align:center;
    text-align:justify;
    padding: 2vh;
}

img {
    width: 16vw;
    height: 50vmin;
}

ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2 / 5;
}

li{
    display:grid;
    list-style-type: none;
    align-self:center;
    justify-self:center;
    background-color:pink;
    height:10vmin;
    width:15vw;
    align-items: center;
    justify-items: center;
}

a{
    color:black;
    font-size:5vmin;
}

h1{
    text-align:center;
}

.amazon{
    height:10vmin;
    width:8vw;
}

.tp {
    align-self:center;
    justify-self:center;
}

.div{
    height: 10vmin;
    width: 12vw ;
    background-color:greenyellow;
    border-radius:1vmin;
    overflow: hidden;
    position:relative;
    text-align:center;
}

.span{
    display:inline-block;
    width:70%;
    position: relative;
    float:left;
    font-size: 1.7vmax;
    left:0;
    transition: all 400ms linear;
    margin: 3%;
}

.seta{
    display: inline-block;
    width:25%;
    float:right;
    background-color:red;
    height:10vh;
    position: absolute;
    top:0;
    right:0;
    transition: all 400ms linear;
    display:grid;
    align-items:center;
    justify-items:center;
}

.div:hover .span {
  left: -75%
}

.div:hover .seta {
    width:100%;
}

.hadouken {
    width: 2vmax;
    height: 7vmin;
}

.div{
    align-self:center;
    justify-self:center;
    display:grid;
    align-items:center;
}

a{
    text-decoration:inherit;
}
