*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.body {
    height: 100vh;
    display:grid;
    grid-template-rows: 20vmin 1fr 5vmin;
}

.header{
    height: 20vmin;
    width:100vw;
    background-color: rgb(111, 253, 79);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main{ 
    display: grid;
    align-self:stretch;
    width:100vw;
    background-color: rgb(1, 140, 73);
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    justify-items: center;
}

.text {
    background-color:  rgba(246, 245, 245, 0.855);
    align-self:stretch;
    justify-self: stretch;
    text-align:center;
    text-align:justify;
    padding: 2vh;
    font-size: 1.8vmax;
}

.imagem {
    width: 16vw;
    height: 50vmin;
}

ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2 / 5;
}

li{
    display:grid;
    list-style-type: none;
    align-self:center;
    justify-self:center;
    background-color:rgba(246, 245, 245, 1);
    height:10vmin;
    width:15vw;
    align-items: center;
    justify-items: center;
}

a{
    color:black;
    font-size:5vmin;
}

h1{
    text-align:center;
}

.amazon{
    height:10vmin;
    width:8vw;
}

.tp {
    align-self:center;
    justify-self:center;
}

.div{
    height: 10vmin;
    width: 12vw ;
    background-color:rgba(246, 245, 245, 0.855);
    border-radius:1vmin;
    overflow: hidden;
    position:relative;
    text-align:center;
}

.span{
    display:inline-block;
    width:70%;
    position: relative;
    float:left;
    font-size: 1.5vw;
    left:0;
    transition: all 400ms linear;
    margin: 3%;
}

.seta{
    display: inline-block;
    width:25%;
    float:right;
    background-color:rgba(61, 31, 230, 0.436);
    height:10vh;
    position: absolute;
    top:0;
    right:0;
    transition: all 400ms linear;
    display:grid;
    align-content:center;
    justify-content:center;
}

.div:hover .span {
  left: -75%
}

.div:hover .seta {
    width:100%;
}

.hadouken {
    width: 1.3vmax;
    height: 4vh;
}


.div{
    align-self:center;
    justify-self:center;
    display:grid;
    align-items:center;
}

a{
    text-decoration:inherit;
}

.anim {
    display:grid;
    list-style-type: none;
    align-self:center;
    justify-self:center;
    background-color:rgba(246, 245, 245, 1);
    height:10vmin;
    width:15vw;
    align-items: center;
    justify-items: center;
}

.anim:hover {
    border-left: 1vmin solid black;
    border-top: 1vmin solid black;
}

.footer{
  display:grid;
  align-self:stretch;
  justify-self:stretch;
  background-color: rgba(36, 250, 232, 0.677);
  align-content:center;
  justify-content:center;
}
